## Macros for running SCREWS_TILT_CALCULATE and BED_MESH_CALIBRATION.
## Bed heated to 60 before each test.
## SCREWS_TILT info here: https://www.klipper3d.org/Manual_Level.html#adjusting-bed-leveling-screws-using-the-bed-probe
## Homes on the first measurment but it's not required after, unless your printer times out.

[gcode_macro screw_tilt]
gcode:
  PASS_MESSAGE VALUE=Heating...
  M190 S60 ; adjust temp as needed. Your standard print temp is advised.
  {% if printer.toolhead.homed_axes != "xyz" %} ; checks if homed and runs G28 if not
    PASS_MESSAGE VALUE=Homing...
    G28
  {% endif %}
    PASS_MESSAGE VALUE=Measuring...
    SCREWS_TILT_CALCULATE

[gcode_macro level_bed]
gcode:
  M190 S60 ; adjust temp as needed. Your standard print temp is advised.
  {% if printer.toolhead.homed_axes != "xyz" %} ; checks if homed and runs G28 if not
    PASS_MESSAGE VALUE=Homing...
    G28
  {% endif %}
  PASS_MESSAGE VALUE=Measuring...
  BED_MESH_CALIBRATE
  SAVE_VARIABLE VARIABLE=level_age VALUE=1 ; reset bed age counter
  SAVE_CONFIG