## Simple M600, Filament Load and Unload and a PAUSE_PARK macro.
## Adjust the retraction and purge values to suit your setup.

[gcode_macro M600]
gcode:
  {% set X = params.X|default(10)|float %}
  {% set Y = params.Y|default(20)|float %}
  {% set Z = params.Z|default(10)|float %}
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}
  LOW_TEMP_CHECK
  SAVE_GCODE_STATE NAME=M600_state
  PAUSE
  FILAMENT_UNLOAD
  RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro PAUSE_PARK]
gcode:
  {% set default_x = printer.toolhead.axis_minimum.x + 20 %}
  {% set default_y = printer.toolhead.axis_minimum.y + 20 %}

  {% if 'save_variables' in printer %}
    {% set svv = printer.save_variables.variables %}
    {% if 'park_x' in svv %}
      {% set default_x = svv.park_x %}
    {% endif %}
    {% if 'park_y' in svv %}
      {% set default_y = svv.park_y %}
    {% endif %}
  {% endif %}

  {% set x = params.X|default(default_x)|float %}
  {% set y = params.Y|default(default_y)|float %}
  {% set z = params.Z|default(20)|float %}
  {% set r = params.R|default(3)|float %}

  {% if printer.pause_resume.is_paused %}
    {action_respond_info("Already paused")}
  {% elif printer.toolhead.homed_axes != "xyz" %}
    {action_respond_info("Please home XYZ first")}
  {% else %}
    PAUSE
    {% if r > 0.0 %}
      RETRACT D={r}
    {% endif %}
    G27 X{x} Y{y} Z{z}
  {% endif %}

[gcode_macro FILAMENT_LOAD]
gcode:
  LOW_TEMP_CHECK
  M83
  G92 E0.0
  PASS_MESSAGE VALUE='Loading 50mm'
  G1 E50 F200
  G1 E-0.75 F2100
  G92 E0.0
  G90
  G4 S20

[gcode_macro FILAMENT_UNLOAD]
gcode:
  LOW_TEMP_CHECK
  G91
  G1 E-.75 F2700
  G1 Z{Z}
  G90
  G1 X{X} Y{Y} F3000
  G91
  PASS_MESSAGE VALUE='Purging...'
  G1 E15 F500
  PASS_MESSAGE VALUE='Unloading'
  G1 E-40 F500